@import '../../assets/styles/variables.scss';
@import '../../assets/styles/mixins.scss';

.sidebar {
  width: $sidebar-width;
  height: 100%;
  position: fixed;
  left: -100%;
  top: $header-height;
  background: rgba(245, 245, 220, 0.85);
  box-shadow: 5px 0px 8px -4px rgba(0, 0, 0, 0.98);
  -webkit-box-shadow: 5px 0px 8px -4px rgba(0, 0, 0, 0.98);
  -moz-box-shadow: 5px 0px 8px -4px rgba(0, 0, 0, 0.98);
  transition: 0.2s linear;
  display: none;

  @include respond-to('small') {
    width: 75%;
    display: block;
  }

  .nav-elements {
    @include flex-column-start;
    @include reset-list;

    .nav-el {
      padding: 10px;
    }
  }
}
