@import '../../assets/styles/mixins.scss';
@import '../../assets/styles/variables.scss';

.header {
  background-color: #f5f5dc;
  height: $header-height;
  @include flex-center-center;
  position: relative;
  padding: 0 10px;
  z-index: 1;

  .logo {
    height: 100%;
    width: 250px;
    background-image: url('../../assets/img/Vašarište-logos_black.png');
    background-position: center;
    background-size: cover;
    position: absolute;
    left: 0;

    @include respond-to('large') {
      width: 220px;
    }
  }

  .nav-elements {
    max-width: 1200px;
    height: 100%;
    width: 800px;
    @include reset-list;
    @include flex-center-space-between;

    @include respond-to('small') {
      display: none;
    }

    @include respond-to('large') {
      margin-left: 200px;
    }

    .nav-el {
      cursor: pointer;
      height: 100%;
      flex-grow: 1;

      > div {
        position: relative;
        z-index: 1;
        height: 100%;
        width: 100%;
        @include flex-center-center;
        transition: 0.2s;

        &::after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 100%;
          transform: scaleY(0);
          transform-origin: bottom center;
          background: #a8b8aa;
          z-index: -1;
          transition: transform 0.3s;
        }

        &:hover::after {
          transform: scaleY(1);
        }

        &:hover {
          color: #fff;
        }
      }
    }
  }

  .hamburger-menu {
    display: none;
    position: absolute;
    right: 10px;

    @include respond-to('small') {
      display: block;
    }
  }
}
